# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
node_modules/

# IntelliJ-based IDEs
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties

# Exclude generated temporary APKs but track main release APK if needed
# *.apk

# Windows
Thumbs.db
Desktop.ini
